<h1><a class="btn btn-secondary" href="/products"><i class="fa fa-plus"></i>&nbsp; Create New</a>&nbsp; {{viewTitle}}</h1><br>


    {{!-- {{#each list}}


    <h6>{{this.status}}</h6>
    <div>{{this.title}}</div>

    
      {{/each}} --}}


      <table class="table table-striped table-bordered table-sm " width="100%"> 
    <thead >
        <tr >
            <th >Status</th>
            <th >Title</th>
            <th>Price</th>
            <th >Category</th>
            <th >SKU</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.status}}</td>
            <td>{{this.title}}</td>
            <td>{{this.sellingPrice}}</td>
            <td>{{this.category}}</td>
            <td>{{this.sku}}</td>
            <td>{{this.clientCode}}</td>

            
        </tr>
        {{/each}}
    </tbody>
</table>


    <div>
        <a class="btn btn-secondary" href="/products/list"><i class="fa fa-list-alt"></i>&nbsp; View All</a>
    </div> 
